.container{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, var(--purple) 50%, white 50%);
    height: 100vh;
    overflow: hidden;
}

.textLogo {
    font-size: 2.25rem;
    font-weight: 600;
}

.login {
    background-color: var(--white);
    padding: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.4);
    max-height: 70%; /* Limita a altura à altura máxima da página */
    max-width: 70%; /* Limita a largura à largura máxima da página */
    overflow: auto; /* overflow: auto Adiciona uma barra de rolagem horizontal se necessário / hidden esconde o conteudo que ultrapassa*/
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message {
    margin-right: 20px; /* Adicione margem à direita para separar as mensagens */
}

.textDestaque {
    color: var(--purple);
}

.textLogin {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.loginForm {
    margin: 10px;
}

.loginForm input {
    border: 1px solid var(--gray-100);
    border-radius: 9px;
    padding: 1rem 15rem 1rem 1rem;
    margin: 1rem 1rem 1rem 0;
    /* width: 100%; */
}

.loginForm p a {
    font-size: 0.80rem;
    float: right;
}

.inputDuplo {
    flex: 1; /* Ocupa o mesmo espaço */
    /* text-align: center; */
    margin: 0 0.5rem 0 0; /* Espaçamento horizontal entre os elementos */
    /* width: 50%; */
    /* padding: 1rem 1rem 1rem 1rem;  */
}

.inputDuplo input {
    padding: 1rem 1rem 1rem 1rem;
    /* width: 50%; */
}

.centerButton {
    text-align: center;
    margin-top: 2rem;
}

.centerButton button {
    display: block;
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--white);
    padding: 0.5rem 30%;
    border-radius: 10px;
    font-size: 1.15rem;
    width: 100%; /* auto = A largura será ajustável automaticamente */
}

.centerButton a {
    flex: 1;
    margin: 0 1px;
    text-align: center;
    text-decoration: none; /* Remove a decoração de texto sublinhado */
}

.textCentral {
    font-size: 2.0rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
}

.subtextCentral {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1rem 0;
    text-align: center;
}



/* Estilize a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estilize o botão de rolagem (o "polegar") */
::-webkit-scrollbar-thumb {
    background-color: var(--purple); /* Cor do polegar */
    border-radius: 5px; /* Cantos arredondados do polegar */
}

/* Estilize a pista (a área ao redor do polegar) */
::-webkit-scrollbar-track {
    background-color: var(--gray-100); /* Cor da pista */
}

/* Estilize a seta de rolagem (opcional) */
::-webkit-scrollbar-button {
    background-color: var(--purple); /* Cor da seta de rolagem */
}
