
.cameraIcon{
    position: relative;
    text-align: center;
    top: -10rem;
    right: -10rem;
}

.cameraIcon span {
    cursor: pointer;
    border: 1px solid;
    border-radius: 100px;
    color: var(--white);
    background-color: dark;
    padding: 0.5rem;
}

.cameraIconProfile {
    position: relative;
    text-align: center;
    top: -5.5rem;
    left: -5.8rem;
    color: var(--white);
}

.cameraIconProfile span {
    cursor: pointer;
    border: 1px solid;
    border-radius: 100px;
    color: var(--white);
    background-color: dark;
    padding: 0.5rem;
}