.textoArea {
    background-color: #f8f9fa;
    overflow: hidden; 
    resize:none;
    width: 40rem;
    border: none;
  }
  
  .textoArea:focus {
    outline: none;
    background-color: #f8f9fa;
  }
  
  .menu {
    padding-left: 20rem;
  }
  
  .buttonPurple {
    background-color: var(--purple);
    border-radius: 10px;
    color: var(--white);
    border: none;
    padding: 0.5rem;
}

.sideBarLeft {
  position: sticky; 
  top: 0; 
  height: '100vh';
}

@media screen and (max-width: 767px) {
  .textoArea {
    background-color: #f8f9fa;
    overflow: hidden; 
    resize:none;
    width: 20rem;
    border: none;
  }
  .sideBarLeft {
    margin-top: 1rem;
    margin-bottom: -1rem;
    margin-left: -3rem;
  }
  .menu {
    padding-left: 1rem;
  }
}