
.cameraIcon{
    position: relative;
    text-align: center;
    top: -10rem;
    right: -10rem;
}

.cameraIcon span {
    cursor: pointer;
    border: 1px solid;
    border-radius: 100px;
    color: var(--white);
    background-color: dark;
    padding: 0.5rem;
}

.cameraIconProfile span {
    visibility: hidden;
    cursor: pointer;
    color: transparent;
    background-color: dark;
    padding: 0.5rem;
    transform: translate(-170%, -120%);
}

.cameraIconProfile img {
    max-width: 100px;
    margin-top: -7.125rem;
    margin-left: 2rem;
    cursor: pointer;
    border: 2px solid var(--white);
}

.cameraIconProfile img:hover {
    filter: brightness(0) opacity(1);
}

.cameraIconProfile img:hover + span {
    visibility: visible;
    cursor: pointer;
    color: white;
    background-color: dark;
    padding: 0.5rem;
    transform: translate(-170%, -120%);
}