.customEnquete {
    border: 1px solid; 
    border-radius: 5px; 
    border-color: #ddd;
    margin: 2rem 0rem;
    padding: 0rem 2rem 0rem 2rem;
}

.customVotos {
    border: 1px solid; 
    border-radius: 5px; 
    border-color: #ddd;
    margin: 2rem 0rem;
    padding: 0rem 2rem 0rem 2rem;
    
}

.customTitle {
  
}
