.container{
    /* margin: 0;
    padding: 0; */
    background: linear-gradient(to right, var(--purple) 50%, white 50%);
    height: 100vh;
    overflow: hidden;
   
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.textLogo {
    font-size: 2.25rem;
    font-weight: 600;
}

.login {
    background-color: var(--white);
    padding: 2rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.4);
    max-height: 70%; /* Limita a altura à altura máxima da página */
    max-width: 70%; /* Limita a largura à largura máxima da página */
    min-width: 40%;
    min-height: 40%;
    overflow: auto; /* overflow: auto Adiciona uma barra de rolagem horizontal se necessário / hidden esconde o conteudo que ultrapassa*/
}

  /* .login2 {
    width: 500px;
    height: 500px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 70%;
    max-height: 80%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.4);
    display: table;
  }
  
  .conteudo2 {
    display: table-cell;
    vertical-align: middle;
  } */


.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    /* margin-bottom: 0rem; */
}

.conteudo p{
    margin-bottom: 0rem;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.message {
    margin-right: 20px; /* Adicione margem à direita para separar as mensagens */
}

.textDestaque {
    color: var(--purple);
}

.textLogin {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.loginForm {
    /* margin: 10px; */
}

.loginForm input {
    /* border: 1px solid var(--gray-100); */
    /* border-radius: 9px; */
    /* padding: 1rem 15rem 1rem 1rem; */
    margin: 0.5rem 0.5rem 0.5rem 0;
    /* width: 100%; */
}

.loginForm p a {
    font-size: 0.80rem;
    float: right;
}

.inputDuplo {
    flex: 1; /* Ocupa o mesmo espaço */
    /* text-align: center; */
    margin: 0 0.5rem 0 0; /* Espaçamento horizontal entre os elementos */
    /* width: 50%; */
    /* padding: 1rem 1rem 1rem 1rem;  */
}

.inputDuplo input {
    padding: 1rem 1rem 1rem 1rem;
    /* width: 50%; */
}

.centerButton {
    text-align: center;
    margin-top: 2.5rem;
}

.centerButton button {
    display: block;
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 10px;
    font-size: 1.15rem;
    width: 100%; /* auto = A largura será ajustável automaticamente */
    max-width: 300px;
}

.centerButton button:hover {
    background-color: var(--darkpurple);
    color: var(--white);
}


/* .btn-custom-purple {
    background-color: var(--purple);
    color: white; 
} */

.btn:hover {
    background-color: purple; /* Change to your desired hover color */
    color: white; /* Change the text color if needed */
}

.textCentral {
    font-size: 2.0rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
}

.subtextCentral {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1rem 0;
    text-align: center;
}



/* Estilize a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estilize o botão de rolagem (o "polegar") */
::-webkit-scrollbar-thumb {
    background-color: var(--purple); /* Cor do polegar */
    border-radius: 5px; /* Cantos arredondados do polegar */
}

/* Estilize a pista (a área ao redor do polegar) */
::-webkit-scrollbar-track {
    background-color: var(--gray-100); /* Cor da pista */
}

/* Estilize a seta de rolagem (opcional) */
::-webkit-scrollbar-button {
    background-color: var(--purple); /* Cor da seta de rolagem */
}
